<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/style.css">

    <!-- Font and Box Icon CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

</head>

<body>

    <header class="header">
        <a href="#" class="logo"> Crop <span class="counsel">Counsel</span> </a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
            <a href="#home" class="active"> Home </a>
            <a href="#services"> Services </a>
            <a href="#contact"> Contact </a>
        </nav>
    </header>

    <section class="home" id="home">
        <h2>Home</h2>
    </section>

    <section class="slide-container swiper" id="services">
        <h2 class="heading">
            Our <span class="light-span">Services</span>
        </h2>
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">

                <div class="card swiper-slide">

                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img src="/project/images/web-design.jpg" alt="web-design" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h3>Web Development</h3>
                        <p>
                            We provide best quality, modern and responsive fully fledged websites which 
                            meet business as well as customer requirements.
                            Expertise in UI/UX design and database management.
                        </p>
                        <a href="#" class="second-btn">Read More</a>
                    </div>

                </div>
                <div class="card swiper-slide">

                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img src="/project/images/app-dev.jpg" alt="app-development" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h3>App Development</h3>
                        <p>
                            Expertise in high-quality, modern and robust Android and Web-app development.
                            We provide solutions to meet the market need, and encourage business growth and expansion.
                        </p>
                        <a href="#" class="second-btn">Read More</a>
                    </div>

                </div>
                <div class="card swiper-slide">

                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img src="../images/graphic-design.jpg" alt="graphic-designing" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h3>Graphic Designing</h3>
                        <p>
                            We believe "Design is intelligence made visible". We provide best quality,
                            eye-catchy graphics which makes us stand distinct in the market. Expertise in 
                            designing brand logos, advertisements, posters and objects.
                        </p>
                        <a href="#" class="second-btn">Read More</a>
                    </div>

                </div>

            </div>
        </div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
    </section>

    <section class="contact" id="contact">
        <h3>Contact Us!</h3>
    </section>

    <!-- Footer -->
    <footer class="footer">

        <div class="footer-iconTop">
            <a href="#home"><i class='bx bx-up-arrow-alt'></i></a>
        </div>

        <div class="footer-text">
            <p>Copyright &copy; 2023 by Team Crop Counsel | All rights reserved.</p>
        </div>

    </footer>

    <!-- Custom JS -->
    
    <!-- Swiper Js -->
    <script src="/project/javascript/swiper-bundle.min.js"></script>
    
    <script src="/project/javascript/script.js"></script>
</body>

</html>